h1 {
	font-size: 3em;
	margin: 0;
}

ul {
	max-width: 20%;
	display: inline-block;
	font-size: 2em;
	vertical-align: top;
	margin: 1em;
}

img {
	width: 10%;
	display: inline-block;
	vertical-align: bottom;
	margin: 2em 30%;
}

a {
	text-decoration: none;
	color: white;
	margin: 10px;
}

button {
	background: lightskyblue;
	font-size: 2em;
	margin-top: 20px;
	border-radius: 15px;
}

button:hover {
	background: lightblue;
}