body {
	background: #BFD1FF;
	text-align: center;
}
input {
	text-align: center;
	vertical-align: middle;
	border-radius: 20px;
	display: block;
	margin: 1% 30%;
	font-size: 4em;
}
#boton {
	margin: 0 45%;
}
h1 {
	font-size: 2em;
}
p {
	color: red;
	font-size: 7em;
}
h6 a {
	font-size: 2em;
}